{% extends 'base.html.twig' %}

{% block body %}

    {{ search.count }} truc{{search.count>0?'s'}} trouvé{{search.count>0?'s'}}.

    {% if search.tag %}
        pour "{{ search.tag }}"
        <a href="{{ path('trucs_list') }}">[X]</a>
    {% elseif search.search %}
        pour "{{ search.search }}"
        <a href="{{ path('trucs_list') }}">[X]</a>
    {% endif %}

    <div>
        {% for truc in trucs %}
{#            {{ include('truc/truc.html.twig', { truc: truc }) }}#}
            <twig:truc truc="{{ truc }}"/>
        {% endfor %}
    </div>

{#    {{ include('truc/pagination.html.twig', {search: search}) }}#}
    <twig:pagination search="{{ search }}"/>


{% endblock %}
