{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ truc.nom }}</h1>
    <h2>{{ truc.user.nom }}</h2>

    {% for img in truc.images %}
        <img src="{{ asset('images/' ~ img.filename) }}" style="object-fit: contain" width="300px">
    {% else %}
        <img src="{{ asset('img/no-image.jpg') }}" style="object-fit: contain" width="200px">
    {% endfor %}

    <p>{{ truc.description }}</p>

    <p>
        Tags :
        {% for tag in truc.tags %}
            <a href="{{ path('trucs_list', { 'tag': tag.slug }) }}">{{ tag.nom }}</a>
        {% endfor %}
    </p>

    <p>
        Actions :
        <a href="{{ path('truc_edit', {slug: truc.slug}) }}">Editer</a>
        <a href="{{ path('truc_delete', {slug: truc.slug}) }}" onclick="return confirm('Supprimer le truc ? Cette action est définitive et irrévocable.')">Supprimer</a>
    </p>

    {# Propriétaire du truc #}
    {% if app.user == truc.user %}

        <form action="{{ path('truc_publier', {slug: truc.slug}) }}" method="post">
        {% if truc.publie %}
            Publié
            <button type="submit" name="publie" value="false">Dépublier</button>
        {% else %}
            Non publié
            <button type="submit" name="publie" value="true">Publier</button>
        {% endif %}
        </form>

        {% if truc.isPrete %}
            En cours de prêt...
            <a href="{{ path('truc_rendre', {slug: truc.slug}) }}" onclick="return confirm('Le truc a bien été rendu ?')">Rendre</a>
        {% else %}
            <a href="{{ path('truc_preter', {slug: truc.slug}) }}">Prêter</a>
        {% endif %}

        {% for pret in truc.prets %}
            <p>
                Prêté à {{ pret.user.nom }}
                le {{ pret.dateDebut|date('d/m/Y') }}

                {% if pret.dateFin %}
                rendu le {{ pret.dateFin|date('d/m/Y') }}
                {% endif %}
            </p>
        {% endfor %}
    {% endif %}

{% endblock %}

