<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>LBCAM !</title>
        {# TODO: favicon, PWA toussa toussa #}

        {# Meh... C'nul que c'est pas importé automatiquement par l'AssetMapper :/ #}
        <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.3/dist/css/tom-select.min.css" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    </head>
    <body>

        <header>

            {# Recherche (nom, tag) #}
            <form method="get" action="{{ path('trucs_list') }}">
                <input type="search" name="search" placeholder="Rechercher un truc">
            </form>

            {# Menu #}
            <nav>
                <ul>
                    <li><a href="{{ path('trucs_list') }}">Accueil</a></li>
                    <li><a href="{{ path('trucs_add') }}">Proposer un trucs</a></li>
                </ul>
            </nav>

        </header>

        {% block body %}{% endblock %}

        {# JS #}
        {{ importmap() }}

    </body>
</html>
